:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  height:100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

p, label, .inputSlider {
  margin-left: 3px;
}

label, .popupTitle {
/*   font-size: smaller;
 */
  display:flex;
}

p {
  font-weight:500;
  margin-bottom: 4px;
  margin-top: 0px;
}

.inputValue {
  width: 25%;
  border-width: 1px;
  justify-self: center;
  /* padding:4px;
  margin:4px; */
}

.inputSlider {
  /* min-width: 150px;
  max-width: 300px; */
  width:70%;
}

.lineSlider, .lineColor {
  display:flex;
}

.lineColor {
  justify-content: space-between;
}

/* .popup {
  width: 0.8em;
} */

.animationBlocsName {
  background-color: rgb(0, 255, 255);
  animation-name: animationBloc;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.animationMeublesName {
  background-color: rgb(0, 255, 0);
  animation-name: animationMeuble;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes animationBloc {
  from {background-color: rgb(100, 255, 255);}
  to {background-color: rgb(255, 255, 255);}
}

@keyframes animationMeuble {
  from {background-color: rgb(100, 255, 100);}
  to {background-color: rgb(255, 255, 255);}
}

#interfaceGauche, #interfaceDroite {
  display:flex;
  flex-direction:column;
  align-self: flex-start;
   min-width: 220px;
  height: auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #1a1a1a;
}

#interfaceGauche {
  min-width: 20%;
}

#interfaceDroite {
  position:absolute;
  right:0px;
}

.overflow {
  position: absolute;
  height:auto;
  overflow:auto;
  min-width: 250px;
  max-width:300px;
  border-radius: 8px;
}

#contenu, #meuble {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#meuble, #blocs {
  cursor:pointer;
}

#aspect {
  height:100%;
 /* padding-bottom: 8px;*/
}

#sousMeubles, #buttonSousMeuble, #divEtageresVerticale, #labelCheckboxVertical, #buttonSuspendu {
  display: none;
}

input[type="color"] {
  margin-left:4px;
}

#aspect, #enregistrement, #contenu {
  padding-left: 8px;
}

#enregistrement {
  background-color: #edd1ff;
}

#interfaceGauche {
  background-color: #d1ffd1;
}

#aspect {
  background-color: #d1daff;
}

#enteteMeuble {
  align-self: flex-start;
}

#meuble, #blocs, #aspect, #etageres, #contenu {
  padding-top: 0px;
  padding-right: 8px;
}

#blocs {
  background-color: #d1ffff;
  height: auto;
}

#etageres {
  height: auto;
  background-color: #d1e1ff;
}

#blocs, #enregistrement, #etageres, #meuble, #aspect, #contenu {
  border-top: solid;
  border-width : 1px;
  border-color: #888;
}

#enregistrement, #etageres {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#enregistrement {
  display:flex;
  flex-direction: column;
  justify-content: end;
  height:auto;
  /*padding-bottom:12px;*/
}

#etageresData, #enregistrementData, #aspectData { /*, #contenuData*/
  padding-bottom:8px;
}

#meuble {
  background-color: #d1ffd1;
  /*padding-bottom: 8px;*/
}

#switchMeuble {
  display:flex;
  flex-direction: column;
}

#meubleSliders {
  padding-top: 4px;
  padding-bottom:4px;
  position:relative;
}

.buttonsSelectDiv {
  display:flex;
  width: 160px;
  justify-content: flex-end;
}

#globalContainer {
  display:flex;
  width:100%;
}

#containerCentral {
  width:100%;
}

#canvas {
  max-height: fit-content;
  /* max-width : 80%;*/
  /* min-width: 50%;*/
  width:100%;
  /* max-width : 100%;
  min-width: 75%; */
  /*max-width:90%;
  width:auto;*/
  height : 100%;
  /*max-width:90%;
  width:auto;*/
  /* height : 100vh; */
  background-color: #ffffff;
}

.buttonOn {
  background-color : rgb(100 , 255, 255);
}

input[type=button] {
  width:50%;
 padding:2px;
 margin : 3px;
 min-width: 24px;
}

input[type=number] { 
  text-align: right; 
}

.boutons {
  display: flex;
}


select {
  width : 99%;
  padding : 3px;
  margin : 3px;
}

select, input[type=button], .buttonOn, .dropDownTitle, .dropDownContent, button, .inputValue {
  border-radius: 8px;
  border-width: 1px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropDown {
  position:relative;
  width:100%;
}

@keyframes animationDropDown {
  from {
      height: 0%;
    }
  
    to {
      height: 300%;
      overflow: hidden
    }
  }

@keyframes animationArrowDropDown {
  from {
    rotate : 90deg;
  }
  to {
    rotate: 0deg;
  }
}

.dropDownTitle {
  display: flex;
  justify-content: space-between;
  /* width:50%; */
  padding-left: 8px;
  padding-right: 8px;
  /* margin-top:8px; */
}

.dropDownRightArrow {
  display: inline-block;
  justify-content: end;
  /* rotate:90deg; */
}

.dropDownContent {
  display : none;
  position: absolute;
  width: 99%;
  overflow: auto;
  background-color: #ffffff;
  z-index:999;
  max-height: 50vh;
}

.dropDownTitle, .dropDownContent {
  border-color: #000000;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.lineMenuImage {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:4px;
}

.lineMenuImage:hover {
background-color: #93ccff;
}

.lineMenuImage:active .dropDownContent {
display: none;
}

.caption {
  width: 100%;
  align-content: space-around;
  padding-left:8px;
}

/* .dropDownContent:not(:hover) .dropDownContent {
  display : none;
} */

/* .dropDown:hover .dropDownContent {
  display : block; */
  /* animation-name: animationDropDown; 
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transition-timing-function: ease-out;*/


.dropDownContent:hover .dropDownContent {
  display : block;
  /* animation-name: animationDropDown; 
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transition-timing-function: ease-out;*/
}

/* .dropDown:not(:hover) .dropDownContent {
  display : block;
  animation-name: animationDropDown;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
  animation-direction: reverse;
} */

/* .dropDown:active .dropDownRightArrow {
  animation-name: animationArrowDropDown;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
} */

ul {
  list-style-type: none;
  text-align: left;
  padding-inline: 12px;
}

li:hover {
  background-color: #3b7948;
}

/* .dropDown:not(:hover) .dropDownRightArrow {
  animation-name: animationArrowDropDown;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: reverse;
} */

.containerBoutons {
  display:flex;
  flex-direction: column;
  height:auto;
}

.deuxBoutons {
display: flex;
width:100%;
}

img {
  width : 100px;
  object-fit: contain;
}

.title {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
  margin-top: 4px;
}

.expandOn::before{
  content: "∨";
  rotate:90deg;
  margin-right: 6px;
}

.expandOff::before{
  content: ">";
    margin-right: 6px;
}

/* #meubleSliders, #meubleData {
  display:none;
} */

#meubleData {
  font-size: smaller;
}

#btnControl:checked + label > #meubleSliders {
  display: block;
}

#contextMenuGeneral {
  position:absolute;
}

#contextMenuMeuble, #contextMenuBloc, #contextMenuEtagere {
  position:relative;
}

.contextMenu, #contextMenuGeneral, #contextMenuMeuble, #contextMenuBloc, #contextMenuEtagere {
  display:none;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  box-shadow: #000000;
  border-radius: 8px;
}

.warning {
  display:flex;
  font-style: italic;
  justify-content: center;
}